[Unit]
Description=Kiosk
Wants=graphical.target
After=graphical.target

[Service]
Environment="DISPLAY=:0"
Environment="KIOSK_URL=https://site.rocketalumnisolutions.com/home/45?touchscreen=true"
Type=simple
ExecStart=/bin/bash /home/pi/kiosk/kiosk.sh
Restart=on-abort
User=pi
Group=pi

[Install]
WantedBy=graphical.target
